# banco $C4 sin cfg: entradas = destinos de JSR/JSL/JMP/JML (escaneo de
# la pagina 0 del MMC) que ADEMAS se ejecutan en el histograma.
bank = 0xC4

func Call_C4F542 F542   # destino de llamada, 1104 pasos
func Call_C4F559 F559   # destino de llamada, 1104 pasos
func Call_C4F53E F53E   # destino de llamada, 69 pasos
func Call_C4F572 F572   # destino de llamada, 20 pasos
func Call_C4F584 F584   # destino de llamada, 14 pasos
func Call_C4F58B F58B   # destino de llamada, 14 pasos
func Call_C4F59F F59F   # destino de llamada, 14 pasos
func Call_C4F673 F673   # destino de llamada, 12 pasos
func Call_C4F920 F920   # destino de llamada, 12 pasos
func Call_C4F932 F932   # destino de llamada, 12 pasos
func Call_C4F94B F94B   # destino de llamada, 10 pasos
func Call_C4F94F F94F   # destino de llamada, 10 pasos
func Call_C4F4D0 F4D0   # destino de llamada, 7 pasos
func Call_C4F4D4 F4D4   # destino de llamada, 7 pasos
func Call_C4F4D8 F4D8   # destino de llamada, 7 pasos
func Call_C4F4E0 F4E0   # destino de llamada, 2 pasos
func Call_C4F4E4 F4E4   # destino de llamada, 2 pasos
func Call_C4F4EE F4EE   # destino de llamada, 2 pasos
