# banco $C6 sin cfg: entradas = destinos de JSR/JSL/JMP/JML (escaneo de
# la pagina 0 del MMC) que ADEMAS se ejecutan en el histograma.
bank = 0xC6

func Call_C62DAE 2DAE   # destino de llamada, 654050 pasos
func Call_C655BF 55BF   # destino de llamada, 112353 pasos
func Call_C62DCD 2DCD   # destino de llamada, 96302 pasos
func Call_C602A9 02A9   # destino de llamada, 87050 pasos
func Call_C602AD 02AD   # destino de llamada, 87050 pasos
func Call_C602B6 02B6   # destino de llamada, 87050 pasos
func Call_C602B9 02B9   # destino de llamada, 87050 pasos
func Call_C602BD 02BD   # destino de llamada, 87050 pasos
func Call_C631EE 31EE   # destino de llamada, 80566 pasos
func Call_C631FA 31FA   # destino de llamada, 80566 pasos
func Call_C60127 0127   # destino de llamada, 75764 pasos
func Call_C61C66 1C66   # destino de llamada, 73989 pasos
func Call_C61C75 1C75   # destino de llamada, 73989 pasos
func Call_C642A4 42A4   # destino de llamada, 72240 pasos
func Call_C657F0 57F0   # destino de llamada, 66846 pasos
func Call_C6557F 557F   # destino de llamada, 62420 pasos
func Call_C61C00 1C00   # destino de llamada, 61477 pasos
func Call_C61C0A 1C0A   # destino de llamada, 61477 pasos
func Call_C640F1 40F1   # destino de llamada, 56111 pasos
func Call_C6432D 432D   # destino de llamada, 56098 pasos
func Call_C60285 0285   # destino de llamada, 38700 pasos
func Call_C6029D 029D   # destino de llamada, 38700 pasos
func Call_C656DC 56DC   # destino de llamada, 30904 pasos
func Call_C656DE 56DE   # destino de llamada, 30904 pasos
func Call_C602C6 02C6   # destino de llamada, 29044 pasos
func Call_C602CA 02CA   # destino de llamada, 29044 pasos
func Call_C60000 0000   # destino de llamada, 25792 pasos
func Call_C60001 0001   # destino de llamada, 25792 pasos
func Call_C60009 0009   # destino de llamada, 25792 pasos
func Call_C6001A 001A   # destino de llamada, 25792 pasos
func Call_C65557 5557   # destino de llamada, 24094 pasos
func Call_C60100 0100   # destino de llamada, 20956 pasos
func Call_C60101 0101   # destino de llamada, 20956 pasos
func Call_C60086 0086   # destino de llamada, 19344 pasos
func Call_C60099 0099   # destino de llamada, 19344 pasos
func Call_C6009D 009D   # destino de llamada, 19344 pasos
func Call_C6009E 009E   # destino de llamada, 19344 pasos
func Call_C6009F 009F   # destino de llamada, 19344 pasos
func Call_C600C6 00C6   # destino de llamada, 19344 pasos
func Call_C600D4 00D4   # destino de llamada, 19344 pasos
func Call_C600D6 00D6   # destino de llamada, 19344 pasos
func Call_C600E0 00E0   # destino de llamada, 19344 pasos
func Call_C600E6 00E6   # destino de llamada, 19344 pasos
func Call_C60020 0020   # destino de llamada, 16120 pasos
func Call_C60022 0022   # destino de llamada, 16120 pasos
func Call_C606C6 06C6   # destino de llamada, 16040 pasos
func Call_C606D0 06D0   # destino de llamada, 16040 pasos
func Call_C60264 0264   # destino de llamada, 14512 pasos
func Call_C60064 0064   # destino de llamada, 14508 pasos
func Call_C60075 0075   # destino de llamada, 14508 pasos
func Call_C62D45 2D45   # destino de llamada, 12840 pasos
func Call_C62133 2133   # destino de llamada, 12832 pasos
func Call_C610B1 10B1   # destino de llamada, 12616 pasos
func Call_C60886 0886   # destino de llamada, 11674 pasos
func Call_C60899 0899   # destino de llamada, 11674 pasos
func Call_C61085 1085   # destino de llamada, 9632 pasos
func Call_C6109D 109D   # destino de llamada, 9632 pasos
func Call_C606E6 06E6   # destino de llamada, 8422 pasos
func Call_C606F8 06F8   # destino de llamada, 8422 pasos
func Call_C65600 5600   # destino de llamada, 8025 pasos
func Call_C61072 1072   # destino de llamada, 7410 pasos
func Call_C60900 0900   # destino de llamada, 6418 pasos
func Call_C60911 0911   # destino de llamada, 6418 pasos
func Call_C607A5 07A5   # destino de llamada, 6000 pasos
func Call_C607B9 07B9   # destino de llamada, 6000 pasos
func Call_C60730 0730   # destino de llamada, 5940 pasos
func Call_C600A0 00A0   # destino de llamada, 4836 pasos
func Call_C600A5 00A5   # destino de llamada, 4836 pasos
func Call_C600A6 00A6   # destino de llamada, 4836 pasos
func Call_C600A7 00A7   # destino de llamada, 4836 pasos
func Call_C600A9 00A9   # destino de llamada, 4836 pasos
func Call_C600B7 00B7   # destino de llamada, 4836 pasos
func Call_C600B9 00B9   # destino de llamada, 4836 pasos
func Call_C600BD 00BD   # destino de llamada, 4836 pasos
func Call_C600BF 00BF   # destino de llamada, 4836 pasos
func Call_C6079E 079E   # destino de llamada, 4800 pasos
func Call_C60701 0701   # destino de llamada, 4757 pasos
func Call_C60704 0704   # destino de llamada, 4757 pasos
func Call_C607F0 07F0   # destino de llamada, 4300 pasos
func Call_C641F3 41F3   # destino de llamada, 3440 pasos
func Call_C607D0 07D0   # destino de llamada, 3300 pasos
func Call_C60800 0800   # destino de llamada, 2804 pasos
func Call_C60805 0805   # destino de llamada, 2804 pasos
func Call_C60978 0978   # destino de llamada, 1619 pasos
func Call_C64B00 4B00   # destino de llamada, 1366 pasos
func Call_C6418D 418D   # destino de llamada, 1018 pasos
func Call_C6E2B9 E2B9   # destino de llamada, 789 pasos
func Call_C64CA4 4CA4   # destino de llamada, 741 pasos
func Call_C64CBB 4CBB   # destino de llamada, 741 pasos
func Call_C620C0 20C0   # destino de llamada, 588 pasos
func Call_C620C2 20C2   # destino de llamada, 588 pasos
func Call_C620C6 20C6   # destino de llamada, 588 pasos
func Call_C620D5 20D5   # destino de llamada, 588 pasos
func Call_C64500 4500   # destino de llamada, 572 pasos
func Call_C64515 4515   # destino de llamada, 572 pasos
func Call_C60464 0464   # destino de llamada, 548 pasos
func Call_C6047F 047F   # destino de llamada, 548 pasos
func Call_C60FA9 0FA9   # destino de llamada, 546 pasos
func Call_C60FB9 0FB9   # destino de llamada, 546 pasos
func Call_C616CD 16CD   # destino de llamada, 530 pasos
func Call_C61CA7 1CA7   # destino de llamada, 494 pasos
func Call_C61C9D 1C9D   # destino de llamada, 448 pasos
func Call_C61C9E 1C9E   # destino de llamada, 448 pasos
func Call_C644F1 44F1   # destino de llamada, 440 pasos
func Call_C64B91 4B91   # destino de llamada, 399 pasos
func Call_C6178F 178F   # destino de llamada, 350 pasos
func Call_C646A9 46A9   # destino de llamada, 305 pasos
func Call_C646BE 46BE   # destino de llamada, 305 pasos
func Call_C64ECE 4ECE   # destino de llamada, 301 pasos
func Call_C64ED3 4ED3   # destino de llamada, 301 pasos
func Call_C61CDE 1CDE   # destino de llamada, 288 pasos
func Call_C6018D 018D   # destino de llamada, 240 pasos
func Call_C6019D 019D   # destino de llamada, 240 pasos
func Call_C6019E 019E   # destino de llamada, 240 pasos
func Call_C6019F 019F   # destino de llamada, 240 pasos
func Call_C608A2 08A2   # destino de llamada, 234 pasos
func Call_C608A5 08A5   # destino de llamada, 234 pasos
func Call_C608A9 08A9   # destino de llamada, 234 pasos
func Call_C608B7 08B7   # destino de llamada, 234 pasos
func Call_C608BD 08BD   # destino de llamada, 234 pasos
func Call_C6F800 F800   # destino de llamada, 175 pasos
func Call_C6F801 F801   # destino de llamada, 175 pasos
func Call_C64C32 4C32   # destino de llamada, 172 pasos
func Call_C64C36 4C36   # destino de llamada, 172 pasos
func Call_C64C38 4C38   # destino de llamada, 172 pasos
func Call_C64DCB 4DCB   # destino de llamada, 172 pasos
func Call_C64002 4002   # destino de llamada, 161 pasos
func Call_C6F700 F700   # destino de llamada, 149 pasos
func Call_C6329E 329E   # destino de llamada, 144 pasos
func Call_C64A9B 4A9B   # destino de llamada, 132 pasos
func Call_C64A9F 4A9F   # destino de llamada, 132 pasos
func Call_C65168 5168   # destino de llamada, 132 pasos
func Call_C652D7 52D7   # destino de llamada, 132 pasos
func Call_C6F7B0 F7B0   # destino de llamada, 126 pasos
func Call_C6E280 E280   # destino de llamada, 111 pasos
func Call_C6E295 E295   # destino de llamada, 111 pasos
func Call_C601A2 01A2   # destino de llamada, 108 pasos
func Call_C601A9 01A9   # destino de llamada, 108 pasos
func Call_C601B9 01B9   # destino de llamada, 108 pasos
func Call_C601BD 01BD   # destino de llamada, 108 pasos
func Call_C61A00 1A00   # destino de llamada, 92 pasos
func Call_C61A1A 1A1A   # destino de llamada, 92 pasos
func Call_C618FA 18FA   # destino de llamada, 88 pasos
func Call_C64F00 4F00   # destino de llamada, 86 pasos
func Call_C6F7D1 F7D1   # destino de llamada, 83 pasos
func Call_C61A20 1A20   # destino de llamada, 82 pasos
func Call_C603E6 03E6   # destino de llamada, 80 pasos
func Call_C603F0 03F0   # destino de llamada, 80 pasos
func Call_C618CD 18CD   # destino de llamada, 78 pasos
func Call_C618D1 18D1   # destino de llamada, 78 pasos
func Call_C602E6 02E6   # destino de llamada, 64 pasos
func Call_C60400 0400   # destino de llamada, 64 pasos
func Call_C60410 0410   # destino de llamada, 64 pasos
func Call_C619EF 19EF   # destino de llamada, 64 pasos
func Call_C619F0 19F0   # destino de llamada, 64 pasos
func Call_C60300 0300   # destino de llamada, 60 pasos
func Call_C60301 0301   # destino de llamada, 60 pasos
func Call_C60302 0302   # destino de llamada, 60 pasos
func Call_C603A2 03A2   # destino de llamada, 48 pasos
func Call_C603A9 03A9   # destino de llamada, 48 pasos
func Call_C603B9 03B9   # destino de llamada, 48 pasos
func Call_C603BD 03BD   # destino de llamada, 48 pasos
func Call_C603BF 03BF   # destino de llamada, 48 pasos
func Call_C6F83A F83A   # destino de llamada, 46 pasos
func Call_C6F83E F83E   # destino de llamada, 46 pasos
func Call_C60329 0329   # destino de llamada, 44 pasos
func Call_C60330 0330   # destino de llamada, 44 pasos
func Call_C60336 0336   # destino de llamada, 44 pasos
func Call_C619D4 19D4   # destino de llamada, 44 pasos
func Call_C608D0 08D0   # destino de llamada, 41 pasos
func Call_C61AAD 1AAD   # destino de llamada, 36 pasos
func Call_C61ABD 1ABD   # destino de llamada, 36 pasos
func Call_C61B96 1B96   # destino de llamada, 36 pasos
func Call_C603C6 03C6   # destino de llamada, 34 pasos
func Call_C603D0 03D0   # destino de llamada, 34 pasos
func Call_C60DA9 0DA9   # destino de llamada, 34 pasos
func Call_C60DBF 0DBF   # destino de llamada, 34 pasos
func Call_C610F0 10F0   # destino de llamada, 34 pasos
func Call_C620A5 20A5   # destino de llamada, 32 pasos
func Call_C620A6 20A6   # destino de llamada, 32 pasos
func Call_C620A7 20A7   # destino de llamada, 32 pasos
func Call_C620A9 20A9   # destino de llamada, 32 pasos
func Call_C620B0 20B0   # destino de llamada, 32 pasos
func Call_C60A00 0A00   # destino de llamada, 30 pasos
func Call_C60A0A 0A0A   # destino de llamada, 30 pasos
func Call_C60A75 0A75   # destino de llamada, 30 pasos
func Call_C60E90 0E90   # destino de llamada, 30 pasos
func Call_C60E9D 0E9D   # destino de llamada, 30 pasos
func Call_C60EC6 0EC6   # destino de llamada, 30 pasos
func Call_C60EEF 0EEF   # destino de llamada, 30 pasos
func Call_C61164 1164   # destino de llamada, 30 pasos
func Call_C612CD 12CD   # destino de llamada, 30 pasos
func Call_C612FF 12FF   # destino de llamada, 30 pasos
func Call_C60AD6 0AD6   # destino de llamada, 28 pasos
func Call_C60CA9 0CA9   # destino de llamada, 28 pasos
func Call_C60DF8 0DF8   # destino de llamada, 28 pasos
func Call_C60EBD 0EBD   # destino de llamada, 28 pasos
func Call_C60F00 0F00   # destino de llamada, 28 pasos
func Call_C61105 1105   # destino de llamada, 28 pasos
func Call_C617DE 17DE   # destino de llamada, 28 pasos
func Call_C6F77F F77F   # destino de llamada, 28 pasos
func Call_C60AF0 0AF0   # destino de llamada, 26 pasos
func Call_C60B60 0B60   # destino de llamada, 26 pasos
func Call_C60B61 0B61   # destino de llamada, 26 pasos
func Call_C60BB0 0BB0   # destino de llamada, 26 pasos
func Call_C610D0 10D0   # destino de llamada, 26 pasos
func Call_C611A5 11A5   # destino de llamada, 26 pasos
func Call_C611A9 11A9   # destino de llamada, 26 pasos
func Call_C611B0 11B0   # destino de llamada, 26 pasos
func Call_C61868 1868   # destino de llamada, 26 pasos
func Call_C6187A 187A   # destino de llamada, 26 pasos
func Call_C609C9 09C9   # destino de llamada, 24 pasos
func Call_C609F0 09F0   # destino de llamada, 24 pasos
func Call_C609FC 09FC   # destino de llamada, 24 pasos
func Call_C60AA9 0AA9   # destino de llamada, 24 pasos
func Call_C60AB1 0AB1   # destino de llamada, 24 pasos
func Call_C60AB9 0AB9   # destino de llamada, 24 pasos
func Call_C611F0 11F0   # destino de llamada, 24 pasos
func Call_C616F0 16F0   # destino de llamada, 24 pasos
func Call_C617FE 17FE   # destino de llamada, 24 pasos
func Call_C61880 1880   # destino de llamada, 24 pasos
func Call_C61885 1885   # destino de llamada, 24 pasos
func Call_C6188A 188A   # destino de llamada, 24 pasos
func Call_C61890 1890   # destino de llamada, 24 pasos
func Call_C61898 1898   # destino de llamada, 24 pasos
func Call_C6189D 189D   # destino de llamada, 24 pasos
func Call_C6189E 189E   # destino de llamada, 24 pasos
func Call_C60DC9 0DC9   # destino de llamada, 22 pasos
func Call_C60DD0 0DD0   # destino de llamada, 22 pasos
func Call_C61280 1280   # destino de llamada, 22 pasos
func Call_C6168D 168D   # destino de llamada, 22 pasos
func Call_C6169D 169D   # destino de llamada, 22 pasos
func Call_C61710 1710   # destino de llamada, 22 pasos
func Call_C6102E 102E   # destino de llamada, 20 pasos
func Call_C617A5 17A5   # destino de llamada, 20 pasos
func Call_C617B0 17B0   # destino de llamada, 20 pasos
func Call_C61800 1800   # destino de llamada, 20 pasos
func Call_C61801 1801   # destino de llamada, 20 pasos
func Call_C6180A 180A   # destino de llamada, 20 pasos
func Call_C61000 1000   # destino de llamada, 18 pasos
func Call_C61001 1001   # destino de llamada, 18 pasos
func Call_C6166E 166E   # destino de llamada, 18 pasos
func Call_C616A5 16A5   # destino de llamada, 18 pasos
func Call_C616AF 16AF   # destino de llamada, 18 pasos
func Call_C616B2 16B2   # destino de llamada, 18 pasos
func Call_C616B9 16B9   # destino de llamada, 18 pasos
func Call_C62085 2085   # destino de llamada, 16 pasos
func Call_C62093 2093   # destino de llamada, 16 pasos
func Call_C60C29 0C29   # destino de llamada, 14 pasos
func Call_C60B07 0B07   # destino de llamada, 12 pasos
func Call_C60B0A 0B0A   # destino de llamada, 12 pasos
func Call_C60B10 0B10   # destino de llamada, 12 pasos
func Call_C6535B 535B   # destino de llamada, 12 pasos
func Call_C60D41 0D41   # destino de llamada, 10 pasos
func Call_C64B77 4B77   # destino de llamada, 6 pasos
func Call_C6F6F9 F6F9   # destino de llamada, 5 pasos
func Call_C61300 1300   # destino de llamada, 4 pasos
func Call_C61B1C 1B1C   # destino de llamada, 4 pasos
func Call_C60E00 0E00   # destino de llamada, 2 pasos
func Call_C60E01 0E01   # destino de llamada, 2 pasos
func Call_C60E10 0E10   # destino de llamada, 2 pasos
