# banco $CB sin cfg: entradas = destinos de JSR/JSL/JMP/JML (escaneo de
# la pagina 0 del MMC) que ADEMAS se ejecutan en el histograma.
bank = 0xCB

func Call_CB0923 0923   # destino de llamada, 6428 pasos
func Call_CB0947 0947   # destino de llamada, 4252 pasos
func Call_CB09A9 09A9   # destino de llamada, 3204 pasos
func Call_CB0977 0977   # destino de llamada, 3180 pasos
func Call_CB097B 097B   # destino de llamada, 3180 pasos
func Call_CB07D3 07D3   # destino de llamada, 1743 pasos
func Call_CB07D7 07D7   # destino de llamada, 1743 pasos
func Call_CB07D8 07D8   # destino de llamada, 1743 pasos
func Call_CB07DA 07DA   # destino de llamada, 1743 pasos
func Call_CB0600 0600   # destino de llamada, 949 pasos
func Call_CB08D9 08D9   # destino de llamada, 918 pasos
func Call_CB05E4 05E4   # destino de llamada, 876 pasos
func Call_CB05E8 05E8   # destino de llamada, 876 pasos
func Call_CB058A 058A   # destino de llamada, 793 pasos
func Call_CB058E 058E   # destino de llamada, 793 pasos
func Call_CB0648 0648   # destino de llamada, 219 pasos
func Call_CB0900 0900   # destino de llamada, 175 pasos
func Call_CB05A2 05A2   # destino de llamada, 144 pasos
func Call_CB05A5 05A5   # destino de llamada, 144 pasos
func Call_CB05A6 05A6   # destino de llamada, 144 pasos
func Call_CBFE00 FE00   # destino de llamada, 126 pasos
func Call_CB089C 089C   # destino de llamada, 39 pasos
func Call_CB0800 0800   # destino de llamada, 35 pasos
func Call_CB0801 0801   # destino de llamada, 35 pasos
func Call_CB0804 0804   # destino de llamada, 35 pasos
func Call_CB0818 0818   # destino de llamada, 35 pasos
func Call_CB081C 081C   # destino de llamada, 35 pasos
func Call_CBFDFD FDFD   # destino de llamada, 12 pasos
