# banco $C8 sin cfg: entradas = destinos de JSR/JSL/JMP/JML (escaneo de
# la pagina 0 del MMC) que ADEMAS se ejecutan en el histograma.
bank = 0xC8

func Call_C8F8EB F8EB   # destino de llamada, 28052 pasos
func Call_C8F8DA F8DA   # destino de llamada, 24074 pasos
func Call_C8F94C F94C   # destino de llamada, 16022 pasos
func Call_C87600 7600   # destino de llamada, 11506 pasos
func Call_C80922 0922   # destino de llamada, 10274 pasos
func Call_C80FA9 0FA9   # destino de llamada, 10044 pasos
func Call_C80FAD 0FAD   # destino de llamada, 10044 pasos
func Call_C875CF 75CF   # destino de llamada, 8368 pasos
func Call_C80FC9 0FC9   # destino de llamada, 7684 pasos
func Call_C80FCE 0FCE   # destino de llamada, 7684 pasos
func Call_C80FD8 0FD8   # destino de llamada, 7684 pasos
func Call_C8F407 F407   # destino de llamada, 7560 pasos
func Call_C8F41D F41D   # destino de llamada, 7560 pasos
func Call_C81000 1000   # destino de llamada, 6656 pasos
func Call_C81001 1001   # destino de llamada, 6656 pasos
func Call_C8F4E9 F4E9   # destino de llamada, 4144 pasos
func Call_C80DA9 0DA9   # destino de llamada, 2709 pasos
func Call_C80C00 0C00   # destino de llamada, 2494 pasos
func Call_C82A78 2A78   # destino de llamada, 1568 pasos
func Call_C80D00 0D00   # destino de llamada, 1288 pasos
func Call_C8F4D0 F4D0   # destino de llamada, 1020 pasos
func Call_C808F0 08F0   # destino de llamada, 542 pasos
func Call_C8F820 F820   # destino de llamada, 460 pasos
func Call_C80CD8 0CD8   # destino de llamada, 364 pasos
func Call_C80CDA 0CDA   # destino de llamada, 364 pasos
func Call_C80CDB 0CDB   # destino de llamada, 364 pasos
func Call_C80CDD 0CDD   # destino de llamada, 364 pasos
func Call_C8F89F F89F   # destino de llamada, 334 pasos
func Call_C809C3 09C3   # destino de llamada, 262 pasos
func Call_C809DB 09DB   # destino de llamada, 262 pasos
func Call_C809DF 09DF   # destino de llamada, 262 pasos
func Call_C808D9 08D9   # destino de llamada, 220 pasos
func Call_C8F563 F563   # destino de llamada, 209 pasos
func Call_C80F8C 0F8C   # destino de llamada, 180 pasos
func Call_C80F99 0F99   # destino de llamada, 180 pasos
func Call_C8F5EF F5EF   # destino de llamada, 164 pasos
func Call_C8F966 F966   # destino de llamada, 154 pasos
func Call_C8F5A9 F5A9   # destino de llamada, 143 pasos
func Call_C808A9 08A9   # destino de llamada, 120 pasos
func Call_C808B7 08B7   # destino de llamada, 120 pasos
func Call_C82A2E 2A2E   # destino de llamada, 108 pasos
func Call_C8F4B7 F4B7   # destino de llamada, 108 pasos
func Call_C80C3C 0C3C   # destino de llamada, 99 pasos
func Call_C82923 2923   # destino de llamada, 77 pasos
func Call_C8F500 F500   # destino de llamada, 69 pasos
func Call_C8F51D F51D   # destino de llamada, 69 pasos
func Call_C80AD8 0AD8   # destino de llamada, 48 pasos
func Call_C80ADB 0ADB   # destino de llamada, 48 pasos
func Call_C80B00 0B00   # destino de llamada, 45 pasos
func Call_C80AA5 0AA5   # destino de llamada, 30 pasos
func Call_C80AA9 0AA9   # destino de llamada, 30 pasos
func Call_C80AAD 0AAD   # destino de llamada, 30 pasos
func Call_C80F4D 0F4D   # destino de llamada, 27 pasos
func Call_C80F51 0F51   # destino de llamada, 27 pasos
func Call_C8F800 F800   # destino de llamada, 26 pasos
func Call_C8F801 F801   # destino de llamada, 26 pasos
func Call_C8F622 F622   # destino de llamada, 24 pasos
func Call_C8FA00 FA00   # destino de llamada, 24 pasos
func Call_C8FA0B FA0B   # destino de llamada, 24 pasos
func Call_C8FA7A FA7A   # destino de llamada, 22 pasos
func Call_C813AD 13AD   # destino de llamada, 21 pasos
func Call_C814D8 14D8   # destino de llamada, 16 pasos
func Call_C814D9 14D9   # destino de llamada, 16 pasos
func Call_C814A9 14A9   # destino de llamada, 13 pasos
func Call_C82095 2095   # destino de llamada, 7 pasos
func Call_C80F62 0F62   # destino de llamada, 3 pasos
func Call_C80F66 0F66   # destino de llamada, 3 pasos
func Call_C80F77 0F77   # destino de llamada, 3 pasos
func Call_C80F7B 0F7B   # destino de llamada, 3 pasos
func Call_C820A5 20A5   # destino de llamada, 2 pasos
func Call_C820A9 20A9   # destino de llamada, 2 pasos
func Call_C820AE 20AE   # destino de llamada, 2 pasos
func Call_C8139D 139D   # destino de llamada, 1 pasos
func Call_C8139F 139F   # destino de llamada, 1 pasos
